.idea/
Task 01 - Cezar/src/__pycache__/
Task 01 - Cezar/test/.pytest_cache/

Task 02 - Hashing/timeLengthGraph.html
Task 02 - Hashing/src/__pycache__/

Task 03 - Password/src/__pycache__/

Task 04 - FastAPI/__pycache__/
Task 04 - FastAPI/src/__pycache__/

Task 05 - Cryptoanalysis/src/__pycache__/

Task 06 - Cryptoalalysis v2/

Task 07 - Blockchain/src/__pycache__/
Task 07 - Blockchain/Pipfile

Task 08 - Questions/

Task 10 - Steganography/src/__pycache__/
Task 10 - Steganography/Pipfile
Task 10 - Steganography/Pipfile.lock
