.idea/
Task 01 - Cezar/.idea/
Task 01 - Cezar/src/__pycache__/
Task 01 - Cezar/test/.pytest_cache/

Task 02 - Hashing/.idea/
Task 02 - Hashing/timeLengthGraph.html
Task 02 - Hashing/src/__pycache__/

Task 03 - Password/.idea/
Task 03 - Password/src/__pycache__/

Task 04 - FastAPI/.idea/
Task 04 - FastAPI/__pycache__/
Task 04 - FastAPI/src/__pycache__/

Task 05 - Cryptoanalysis/input.txt
Task 05 - Cryptoanalysis/src/__pycache__/
Task 05 - Cryptoanalysis/src/secret.py

Task 06 - Cryptoalalysis v2/

Task 07 - Blockchain/.idea
Task 07 - Blockchain/src/__pycache__/
Task 07 - Blockchain/Pipfile
